$card-background: #FAFAF2;
$inactive-tab: #e9eaeb;
$inactive-elements: #D1D3D4;
$button-color: #ffba74;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    background: rgb(255, 193, 193);
    background: linear-gradient(135deg, rgba(255, 193, 193, 1) 0%, rgba(167, 122, 200, 1) 91%);
    transition: all 0.2s ease-in-out;
}

.container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.blur {
    transition: all 0.2s ease-in-out;
    filter: blur(2px) opacity(0.7);
}

.card {
    margin: 0 auto;
    width: 400px;
    height: 700px;
    position: relative;
    background: $card-background;
    border-radius: 15px;
    box-shadow: 8px 4px 16px #30302e34;
}

.top-bar {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 80px;
    height: 80px;
    width: 100%;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}

.left-tab {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $inactive-tab;
    border-radius: 0 15px 0 0;
}

.tasks {
    padding: 1.5rem;
    transition: all 0.2s ease-in-out;
}

.checkbox {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 0.5em;
    font-size: 1.5rem;
    margin: 0.75rem 0rem 1rem 0rem;

    &-input {
        display: grid;
        grid-template-areas: "checkbox";

        >* {
            grid-area: checkbox;
        }

        input {
            opacity: 0;
            width: 1em;
            height: 1em;

            &:checked {
                +.checkbox-control svg {
                    transform: scale(1);
                }
            }

            &:focus {
                +.checkbox-control {
                    box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em #a77ac8;
                }
            }
        }
    }

    &-control {
        display: inline-grid;
        width: 1em;
        height: 1em;
        border-radius: 0.3em;
        border: 0.1em solid $inactive-elements;

        svg {
            transition: transform 0.1s ease-in 25ms;
            transform: scale(0);
            transform-origin: bottom left;
        }
    }

    &-text {
        line-height: 1;
        position: relative;
        --dynamic-width: 0px;


        &.strikethrough {
            color: $inactive-elements;


            &::after {
                content: "";
                width: var(--dynamic-width);
                height: 2px;
                background-color: $inactive-elements;
                display: block;
                position: relative;
                top: -10px;
                left: 0;
                visibility: visible;
            }

        }

        &.finished {
            color: $inactive-elements;
        }

    }
}

.btn-add {
    line-height: 50px;
    width: 80px;
    height: 80px;
    background-color: $button-color;
    border: none;
    border-radius: 50%;
    font-size: 2.5rem;
    position: absolute;
    top: 655px;
    left: 160px;
    box-shadow: 0 8px 16px rgba(46, 44, 44, 0.205);
    cursor: pointer;
    color: $card-background;
    z-index: 999;

    &:hover {
        background: #f8ab5e;
        transition: 0.125s ease-in-out;
    }
}

.hidden {
    display: none;
}

.pop-up {
    position: absolute;
    width: 300px;
    right: 50px;
    bottom: 30px;
    min-height: 50px;
    text-align: center;
    padding: 0.5rem;
    border-radius: 15px;
    background: rgb(255, 193, 193);
    background: linear-gradient(135deg, rgba(255, 193, 193, 1) 0%, rgba(167, 122, 200, 1) 91%);

    textarea {
        display: block;
        width: 100%;
        min-height: 50px;
        border: none;
        border-radius: 10px;
        background: $card-background;
        resize: none;
        font-family: "Open Sans", sans-serif;
        font-size: 1.25rem;
        padding: 0.75rem;
        text-align: center;
        overflow: hidden;
    }
}

.slide-top {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860) forwards;
    animation: slide-top 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860) forwards;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}



@media screen and(max-width: 450px) {
    .card {
        width: 250px;
        height: 600px;
        margin-bottom: 4rem;
        margin-top: 2.5rem;
    }

    .top-bar {
        height: 50px;
        grid-template-columns: 125px 125px;
        grid-template-rows: 50px;
    }

    .left-tab-icon {
        width: 25px;
        height: 25px;

    }

    .right-tab-icon {
        width: 25px;
        height: 25px;
    }

    .btn-add {
        width: 70px;
        height: 70px;
        top: 560px;
        left: 95px;

        &:active {
            background-color: #f8ab5e;
            transition: 0.1s ease-out;
        }
    }
}