*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    background: rgb(255, 193, 193);
    background: linear-gradient(135deg, rgba(255, 193, 193, 1) 0%, rgba(167, 122, 200, 1) 91%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 400px;
    height: 700px;
    background: #FAFAF2;
    border-radius: 15px;
}

.top-bar {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 80px;
    height: 80px;
    width: 100%;
    border-radius: 15px;
}

.left-tab {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9eaeb;
    border-radius: 0 15px 0 0;
}

section {
    padding: 1.5rem;
}

.checkbox {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 0.5em;
    font-size: 1.5rem;

    &-input {
        display: grid;
        grid-template-areas: "checkbox";

        >* {
            grid-area: checkbox;
        }

        input {
            opacity: 0;
            width: 1em;
            height: 1em;

            &:checked {
                +.checkbox-control svg {
                    transform: scale(1);
                }
            }

            &:focus {
                +.checkbox-control {
                    box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em #a77ac8;
                }
            }
        }
    }

    &-control {
        display: inline-grid;
        width: 1em;
        height: 1em;
        border-radius: 0.3em;
        border: 0.1em solid #D1D3D4;

        svg {
            transition: transform 0.1s ease-in 25ms;
            transform: scale(0);
            transform-origin: bottom left;
        }
    }

    &-text {
        line-height: 1;
    }
}