*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  background: #ffc1c1;
  background: linear-gradient(135deg, #ffc1c1 0%, #a77ac8 91%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.blur {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-filter: blur(2px) opacity(0.7);
          filter: blur(2px) opacity(0.7);
}

.card {
  margin: 0 auto;
  width: 400px;
  height: 700px;
  position: relative;
  background: #FAFAF2;
  border-radius: 15px;
  -webkit-box-shadow: 8px 4px 16px #30302e34;
          box-shadow: 8px 4px 16px #30302e34;
}

.top-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 200px;
      grid-template-columns: 200px 200px;
  -ms-grid-rows: 80px;
      grid-template-rows: 80px;
  height: 80px;
  width: 100%;
  border-radius: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.left-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e9eaeb;
  border-radius: 0 15px 0 0;
}

.tasks {
  padding: 1.5rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.checkbox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content auto;
      grid-template-columns: -webkit-min-content auto;
      grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  font-size: 1.5rem;
  margin: 0.75rem 0rem 1rem 0rem;
}

.checkbox-input {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "checkbox";
}

.checkbox-input > * {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: checkbox;
}

.checkbox-input input {
  opacity: 0;
  width: 1em;
  height: 1em;
}

.checkbox-input input:checked + .checkbox-control svg {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.checkbox-input input:focus + .checkbox-control {
  -webkit-box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em #a77ac8;
          box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em #a77ac8;
}

.checkbox-control {
  display: -ms-inline-grid;
  display: inline-grid;
  width: 1em;
  height: 1em;
  border-radius: 0.3em;
  border: 0.1em solid #D1D3D4;
}

.checkbox-control svg {
  -webkit-transition: -webkit-transform 0.1s ease-in 25ms;
  transition: -webkit-transform 0.1s ease-in 25ms;
  transition: transform 0.1s ease-in 25ms;
  transition: transform 0.1s ease-in 25ms, -webkit-transform 0.1s ease-in 25ms;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.checkbox-text {
  line-height: 1;
  position: relative;
  --dynamic-width: 0px;
}

.checkbox-text.strikethrough {
  color: #D1D3D4;
}

.checkbox-text.strikethrough::after {
  content: "";
  width: var(--dynamic-width);
  height: 2px;
  background-color: #D1D3D4;
  display: block;
  position: relative;
  top: -10px;
  left: 0;
  visibility: visible;
}

.checkbox-text.finished {
  color: #D1D3D4;
}

.btn-add {
  line-height: 50px;
  width: 80px;
  height: 80px;
  background-color: #ffba74;
  border: none;
  border-radius: 50%;
  font-size: 2.5rem;
  position: absolute;
  top: 655px;
  left: 160px;
  -webkit-box-shadow: 0 8px 16px rgba(46, 44, 44, 0.205);
          box-shadow: 0 8px 16px rgba(46, 44, 44, 0.205);
  cursor: pointer;
  color: #FAFAF2;
  z-index: 999;
}

.btn-add:hover {
  background: #f8ab5e;
  -webkit-transition: 0.125s ease-in-out;
  transition: 0.125s ease-in-out;
}

.hidden {
  display: none;
}

.pop-up {
  position: absolute;
  width: 300px;
  right: 50px;
  bottom: 30px;
  min-height: 50px;
  text-align: center;
  padding: 0.5rem;
  border-radius: 15px;
  background: #ffc1c1;
  background: linear-gradient(135deg, #ffc1c1 0%, #a77ac8 91%);
}

.pop-up textarea {
  display: block;
  width: 100%;
  min-height: 50px;
  border: none;
  border-radius: 10px;
  background: #FAFAF2;
  resize: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  padding: 0.75rem;
  text-align: center;
  overflow: hidden;
}

.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
  animation: slide-top 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

@media screen and (max-width: 450px) {
  .card {
    width: 250px;
    height: 600px;
    margin-bottom: 4rem;
    margin-top: 2.5rem;
  }
  .top-bar {
    height: 50px;
    -ms-grid-columns: 125px 125px;
        grid-template-columns: 125px 125px;
    -ms-grid-rows: 50px;
        grid-template-rows: 50px;
  }
  .left-tab-icon {
    width: 25px;
    height: 25px;
  }
  .right-tab-icon {
    width: 25px;
    height: 25px;
  }
  .btn-add {
    width: 70px;
    height: 70px;
    top: 560px;
    left: 95px;
  }
  .btn-add:active {
    background-color: #f8ab5e;
    -webkit-transition: 0.1s ease-out;
    transition: 0.1s ease-out;
  }
}
/*# sourceMappingURL=style.css.map */